.jumbotron {
  background-color: #6c701c;
  min-height: 500px;
}

.jumbotron h1 {
  font-family: "Anton", sans-serif;
  font-size: 60px !important;
  color: #fea296;
}

li a {
  color: #fea296 !important;
}

a:hover {
  text-decoration: underline;
}

.active {
  text-decoration: underline !;
}

form {
  font-family: "Source Code Pro", monospace;
}

input {
  background-color: #e3d8ba !important;
}

textarea {
  background-color: #e3d8ba !important;
}
